[submodule "seqan3"]
	path = lib/seqan3
	url = https://github.com/seqan/seqan3.git
	branch = main
[submodule "robin-hood-hashing"]
	path = lib/robin-hood-hashing
	url = https://github.com/martinus/robin-hood-hashing
	branch = master
[submodule "lib/re2"]
	path = lib/re2
	url = git@github.com:google/re2.git
[submodule "lib/simde"]
	path = lib/simde
	url = https://github.com/simd-everywhere/simde
[submodule "lib/lemon"]
	path = lib/lemon
	url = git@github.com:seqan/lemon.git
[submodule "lib/hibf"]
	path = lib/hibf
	url = git@github.com:seqan/hibf.git
	branch = master
[submodule "lib/sharg-parser"]
	path = lib/sharg-parser
	url = git@github.com:seqan/sharg-parser.git
[submodule "lib/libfork"]
	path = lib/libfork
	url = git@github.com:ConorWilliams/libfork.git
